{% macro render_field(field) %}
<div class="form-group">
    <label for="{{ field.name }}" class="col-lg-2 control-label">{{ field.label.text }}</label>
    <div class="col-lg-10">
        {{ field(class_='form-control', **kwargs)|safe }}
        <ul>
        {% for error in field.errors %}
            <li style="color:red;">{{ error }}</li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endmacro %}

{% macro render_check_fields(field) %}
<div class="form-group">
    <label class="col-lg-2 control-label">{{ field.label.text }}</label>
    <div class="col-lg-10">
    {% for subfield in field %}
    <div class="checkbox">
        <label>
            {{ subfield }}
            {{ subfield.label.text }}
        </label>
    </div>
    {% endfor %}
    </div>
</div>
{% endmacro %}
