{% from "_render_field.html" import render_field, render_check_fields %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<!--
Template: Organic Impression
Author: Darren Hester, www.designsbydarren.com
Released: 03-20-10
License: Creative Commons Attribution-Noncommercial 3.0

Please visit www.designsbydarren.com/license/ for
details regarding license and terms of use - Thanks!
-->

<head>

<title>form</title>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="Short page description here." />
<meta name="keywords" content="keyword1, keyword2, keyword3" />
<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='theme.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='reset.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

<link href='http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

</head>
<body>

<!--==================================================
|                                                    |
|                      Header                        |
|                                                    |
===================================================-->

<div id="header_outside">
<div id="header_inside">

<div id="header_left">
<h1><a href="#">SWEET Agriculture</a></h1>

</div>

<div id="header_right">
</div>

<div id="menu">

<ul>
	<li><a href="/form" id="current">Index Page</a></li>
  <li><a href="http://127.0.0.1:5000/index">Dashborad</a></li>
	<li><a href="/users">Users List</a></li>
  <li><a href="/">LogOut</a></li>
	
</ul>

</div> <!-- menu -->

</div> <!-- header_inside -->

<div class="clear"></div>
</div> <!-- header_outside -->


<!--==================================================
|                                                    |
|                     Content                        |
|                                                    |
===================================================-->

<div id="content_outside">
<div id="content_inside">

<div id="left_column">



 <form class="form-horizontal", method="POST" action="http://localhost:5000/form">
                {{ form.csrf_token }}
                <fieldset>
                  <legend>Connection to the border node</legend>
                  {{ render_field(form.ip, placeholder=form.ip.label.text) }}
                  {{ render_field(form.port, placeholder=form.port.label.text) }}
                </fieldset>
                <fieldset>
                  <legend>Select List</legend>
                  {{ render_check_fields(form.selectlist) }}
                </fieldset>
                <fieldset>
                  <legend>Conditions</legend>
                 {{ render_field(form.attribute, placeholder=form.attribute.label.text) }}
                 {{ render_field(form.operator, placeholder=form.operator.label.text) }}
                 {{ render_field(form.nombre) }}
                   
                </fieldset>
                <fieldset>
                  <legend>Sampling properties</legend>
                  {{ render_field(form.number) }}
                  {{ render_field(form.periode) }}
                  
                </fieldset>
                <fieldset>
                  <legend>Final Query to Send</legend>
                 {{ render_field(form.text) }}
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                </fieldset>
        
        
        
              </form>




</div> <!-- left_column -->

<div id="right_column">


</div> <!-- left_column -->
<div class="clear"></div>
</div> <!-- content_inside -->
</div> <!-- content_outside -->

<!--==================================================
|                                                    |
|                     Footer                         |
|                                                    |
===================================================-->

<div id="footer_outside">
<div id="footer_inside">
<div class="map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20961.43405141948!2d2.24777995!3d48.950072500000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66664dfcb055b%3A0x40b82c3688b36d0!2sArgenteuil%2C+Tunisia!5e0!3m2!1sen!2sin!4v1419059944784"frameborder="0" style="border:0"></iframe>
</div>

</div>
		
</body>
</html>

</div> <!-- footer_inside -->
<div class="clear"></div>
</div> <!-- footer_outside -->

<div style="margin: 1em 0 1em 0; text-align: center;">
</div>
</body>
</html>
