<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Daily UI - Day 1 Sign In</title>

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
        <link href="{{ url_for('static', filename='style_login.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='animate.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="css/animate.css">
	<!-- Custom Stylesheet -->
	

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="top">
		<h1 id="title" class="hidden"><span id="logo">SWEET <span>Agriculture</span></span></h1>
		</div>
		<div class="login-box animated fadeInUp">
			<div class="box-header">
				<h2>Log In</h2>
			</div>
			<form action="" method="post">
                        <input type="text" placeholder="Username" name="username" value="{{request.form.username }}">
                        <input type="password" placeholder="Password" name="password" value="{{request.form.password }}"></br>
                        <button type="submit">Sign In </button>
                        </form>
                       {% if error %}
                        <p class="error"><strong>Error:</strong> {{ error }}
                       {% endif %}
					   <br/>
					   <a href="user"><p class="small">Register</p></a>
                       <a href="#"><p class="small">Forgot your password?</p></a>
			
		</div>
	</div>
</body>

<script>
	$(document).ready(function () {
    	$('#logo').addClass('animated fadeInDown');
    	$("input:text:visible:first").focus();
	});
	$('#username').focus(function() {
		$('label[for="username"]').addClass('selected');
	});
	$('#username').blur(function() {
		$('label[for="username"]').removeClass('selected');
	});
	$('#password').focus(function() {
		$('label[for="password"]').addClass('selected');
	});
	$('#password').blur(function() {
		$('label[for="password"]').removeClass('selected');
	});
</script>

</html>
