{% from "_render_field.html" import render_field, render_check_fields %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<!--
Template: Organic Impression
Author: Darren Hester, www.designsbydarren.com
Released: 03-20-10
License: Creative Commons Attribution-Noncommercial 3.0

Please visit www.designsbydarren.com/license/ for
details regarding license and terms of use - Thanks!
-->

<head>

<title>form</title>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="Short page description here." />
<meta name="keywords" content="keyword1, keyword2, keyword3" />
<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='theme.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='reset.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

<link href='http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

</head>
<body>

<!--==================================================
|                                                    |
|                      Header                        |
|                                                    |
===================================================-->

<div id="header_outside">
<div id="header_inside">

<div id="header_left">
<h1><a href="#">Register</a></h1>

</div>

<div id="header_right">
</div>

<div id="menu">


</div> <!-- menu -->

</div> <!-- header_inside -->

<div class="clear"></div>
</div> <!-- header_outside -->


<!--==================================================
|                                                    |
|                     Content                        |
|                                                    |
===================================================-->

<div id="content_outside">
<div id="content_inside">

<div id="left_column">



 <form class="form-horizontal", method="POST" action="http://localhost:5000/addUser">
                <fieldset>
                  {{ render_field(form.username, placeholder=form.username.label.text) }}
                  {{ render_field(form.password, placeholder=form.password.label.text) }}
                  {{render_field(form.email,     placeholder=form.email.label.text)}}
                </fieldset>
                <fieldset>
                  <legend>Final Query to Send</legend>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                </fieldset>
        
        
        
              </form>




</div> <!-- left_column -->

<div id="right_column">


</div> <!-- left_column -->
<div class="clear"></div>
</div> <!-- content_inside -->
</div> <!-- content_outside -->

<!--==================================================
|                                                    |
|                     Footer                         |
|                                                    |
===================================================-->

<div id="footer_outside">
<div id="footer_inside">

</div>
		
</body>
</html>

</div> <!-- footer_inside -->
<div class="clear"></div>
</div> <!-- footer_outside -->

<div style="margin: 1em 0 1em 0; text-align: center;">
</div>
</body>
</html>
