<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" ng-app="MyApp">

<!--
Template: Organic Impression
Author: Darren Hester, www.designsbydarren.com
Released: 03-20-10
License: Creative Commons Attribution-Noncommercial 3.0

Please visit www.designsbydarren.com/license/ for
details regarding license and terms of use - Thanks!
-->

<head>

<title>form</title>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="Short page description here." />
<meta name="keywords" content="keyword1, keyword2, keyword3" />
<link href="public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="static/bootstrap.min.css" rel="stylesheet">
<link href="static/filename=theme.css" rel="stylesheet">
<link href="static/bootstrap.css" rel="stylesheet">
<link href="static/reset.css" rel="stylesheet">
<link href="static/style.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

</head>
<script src="public/libs/angular.min.js"></script>

<body ng-controller="MyController">

<!--==================================================
|                                                    |
|                      Header                        |
|                                                    |
===================================================-->

<div id="header_outside">
<div id="header_inside">

<div id="header_left">
<h1><a href="#">Users List</a></h1>

</div>

<div id="header_right">
</div>

<div id="menu">

<ul>
	<li><a href="/form" >Index Page</a></li>
  <li><a href="http://127.0.0.1:5000/index">Dashborad</a></li>
	<li><a href="/users" id="current">Users List</a></li>
  <li><a href="/">LogOut</a></li>
	
</ul>

</div> <!-- menu -->

</div> <!-- header_inside -->

<div class="clear"></div>
</div> <!-- header_outside -->


<!--==================================================
|                                                    |
|                     Content                        |
|                                                    |
===================================================-->

<div id="content_outside">
<div id="content_inside">

<div id="left_column">
<div class="container">
  <h2>Users List</h2>          
  <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="data in model">
        <td>{{data.username[0]}}</td>
        <td>{{data.email[0]}}</td>
        <td><button ng-click="deleteUser(data._id.$oid)">Delete</button></td>
      </tr>
      <tbody>
  </table>
</div>



</div> <!-- left_column -->

<div id="right_column">


</div> <!-- left_column -->
<div class="clear"></div>
</div> <!-- content_inside -->
</div> <!-- content_outside -->

<!--==================================================
|                                                    |
|                     Footer                         |
|                                                    |
===================================================-->

<div id="footer_outside">
<div id="footer_inside">

</div>
		
</body>
<script type="text/javascript">
        var app = angular.module('MyApp', [])

        app.controller('MyController', function ($scope, $http) {
          $scope.model = []
          $scope.getUsers = function () {
              $http.get("http://localhost:5000/getUsers")
              .then(response =>{
                  $scope.model = response.data
              })
            }

          $scope.deleteUser = function(id){
            console.log(id)
            $http.get("http://localhost:5000/deleteUser/"+id)
            .then(response=>{
              console.log("user deleted: Ok")
              $scope.getUsers()
            })
            .catch(error=>{
              console.log("*********"+error)
            })
              
          }
            $scope.getUsers()  
          });
    </script>
</html>

</div> <!-- footer_inside -->
<div class="clear"></div>
</div> <!-- footer_outside -->

<div style="margin: 1em 0 1em 0; text-align: center;">
</div>
</body>
</html>
